.title.card {
    width: "100%"
}

.project-card {
    width: 400px;
  }

.title {
    background-color: white
}
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: gold
  }