<mat-toolbar>
  <h1>Example Projects</h1>
</mat-toolbar> 

<mat-card class="project-card">
  <img mat-card-image src="../../assets/telegram.png" alt="telegram GeoLearnBot">
  <mat-card-content>
    <p>
      geoLearnBot Acknowledges, Credits and Thanks:<br>
      <a href="https://mineralseducationcoalition.org">The Minerals Education Coalition (MEC)</a><br>
      <a href="https://en.wikipedia.org/wiki/">Wikipedia</a><br>
      <a href="https://mapageka21.github.io/">Manel Pavon</a><br>
      <a href="https://github.com/IonicaBizau/scrape-it">Ionica Bizau</a><br>
      <a href="https://github.com/rubenlagus/TelegramBots">Ruben Bermudez</a><br>
      For original data and source code provided under the <a href="https://opensource.org/licenses/MIT">MIT Licence</a><br>
    </p>
  </mat-card-content>
</mat-card>
