.title.card {
    width: "100%"
}

#intro {
    font-size: 1em;
    color: black;
    text-align: center;
    font-family: Verdana, Courier, Helvetica, Arial, sans-serif
}

.project-card {
    width: 400px;
    margin: 15px;
    font-family: Verdana, Courier, Helvetica, Arial, sans-serif
  }

.title {
    background-color: lightgray;
    font-family: Verdana, Courier, Helvetica, Arial, sans-serif
}
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: white
  }

.tags {
    display: flex;
    justify-content: center;
    font-family: Verdana, Courier, Helvetica, Arial, sans-serif
  }

mat-chip {
    max-width: 200px
  }

.chip {
    color: white;
    background-color: rgb(35, 8, 190)
}

.example-header-image {
    background-image: url('../../assets/logo/favicons/favicon.png');
    background-size: cover;
}

.chatbot {
    max-height: 666px;
    overflow: scroll
}