<mat-toolbar color='primary'>
  <img src="../../assets/logo/Asset2.png" alt="obsidiancode.io" height="100%" width="auto">
  <span class="spacer"></span>
  <a href="https://www.linkedin.com/in/robertleckenby/" style="color:#9297A0;">
    <img src="../../assets/EntypoSE/linkedin-white.svg" alt="linkedin" height="20em" class="icon"></a>
  <a href="https://github.com/Zabamund" style="color:#9297A0;">
    <img src="../../assets/EntypoSE/github-white.svg" alt="github" height="20em" class="icon"></a>
  <a href="https://twitter.com/obsidiancode" style="color:#9297A0;">
    <img src="../../assets/EntypoSE/twitter-white.svg" alt="twitter" height="20em" class="icon"></a>
  <a href="https://medium.com/@obsidiancode" style="color:#9297A0;">
    <img src="../../assets/EntypoSE/medium-white.svg" alt="medium" height="20em" class="icon"></a>
</mat-toolbar>
