<p>
    obsidiancode.io is the Open-source platform I have created to showcase my development into the coding world.<br>
    It is all about learning and practising how to code, sharing with, learning from and teaching to others.<br>
    I focus on <b>Javascript, TypeScript,  Angular, Python and SQL</b> but am happy to stray onto to other technologies as and when I need them.<br>
    My forrays into the coding world include web design and development, data science and analysis (building on years of experience as a geologist) and any aspect of digitising tasks in the modern world.
</p>
