.message {
    border-radius: 15px;
    margin: 0 0px 5px;
    padding: 10px 10px;
    position: relative;
}
.message.to {
    background-color: #CBCCCE;
    color: #1B75BC;
    margin-left: 100px;
    text-align: right;
}
.message.from {
    background-color: black;
    color: #1B75BC;
    margin-right: 100px;
}
.message.to + .message.to,
.message.from + .message.from {
margin-top: -10px;
}